<ol class="breadcrumb">
    <li><a ng-href="#/">Termieditori</a></li>
    <li><a ng-href="#/schemes/{{collection.scheme.id}}/concepts">
        {{collection.scheme.properties.prefLabel[lang][0]}}
    </a></li>
    <li class="active">
        {{collection.properties.prefLabel[lang][0]}}
    </li>
</ol>

<div>
    <a class="btn btn-sm btn-default"
       ng-href="#/schemes/{{collection.scheme.id}}/collections/{{collection.id}}/edit">
        <span class="glyphicon glyphicon-edit"></span>
        Muokkaa
    </a>
</div>

<h1 class="page-header">
    {{collection.properties.prefLabel[lang][0]}}
</h1>

<div class="text-muted page-header-info">
    <small>{{collection.uri || '-'}}</small>
</div>

<thl-resource-properties resource-properties="collection.properties"></thl-resource-properties>

<dl ng-show="collection.members && collection.members.length > 0">
    <dt>
        Kokoelmaan kuuluvat käsitteet
    </dt>
    <dd>
        <div ng-repeat="r in collection.members | orderBy:'properties.prefLabel.fi[0]'">
            <a ng-href="#/schemes/{{r.scheme.id}}/concepts/{{r.id}}">
                {{r.properties.prefLabel[lang][0]}}
            </a>
        </div>
    </dd>
</dl>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{collection | json}}</pre>
</div>

