<ol class="breadcrumb">
    <li><a ng-href="#/">Termieditori</a></li>
    <li><a ng-href="#/schemes/{{collection.scheme.id}}/concepts">
        {{collection.scheme.properties.prefLabel[lang][0]}}
    </a></li>
    <li>
        <a ng-href="#/schemes/{{collection.scheme.id}}/collections/{{collection.id}}">
            {{collection.properties.prefLabel[lang][0]}}
        </a>
    </li>
    <li class="active">muokkaus</li>
</ol>

<div class="row">
    <div class="col-xs-8">
        <button class="btn btn-sm btn-success" ng-click="save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Tallenna
        </button>
    </div>

    <div class="col-xs-4 text-right">
        <button class="btn btn-sm btn-danger" ng-click="remove()">
            <span class="glyphicon glyphicon-trash"></span>
            Poista
        </button>
    </div>
</div>

<div class="alert alert-danger" role="alert" ng-show="error">
    <span class="glyphicon glyphicon-alert"></span> {{error}}
</div>

<h1 class="page-header">
    {{collection.properties.prefLabel[lang][0]}}
</h1>

<div class="row text-muted page-header-info">
    <div class="col-sm-6">
        <small>
            Päivitetty {{collection.lastModifiedDate | date:'d.M.yyyy HH:mm:ss'}} /
            {{collection.lastModifiedBy}}
        </small>
    </div>
    <div class="col-sm-6 text-right">
        <small>
            Lisätty {{collection.createdDate | date:'d.M.yyyy HH:mm:ss'}} /
            {{collection.createdBy}}
        </small>
    </div>
</div>

<form role="form">
    <div class="form-group">
        <label>URI</label>

        <input type="text" class="form-control" ng-model="collection.uri">
    </div>

    <thl-properties-edit resource-properties="collection.properties"></thl-properties-edit>

    <div class="form-group">
        <label>Kokoelmaan kuuluvat käsitteet</label>

        <div class="row">
            <div class="col-sm-11 col-xs-10">
                <div thl-select-concept class="form-control" scheme-id="collection.scheme.id"
                     ng-model="collection.members" multiple="true"></div>
            </div>
        </div>
    </div>
</form>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{collection | json}}</pre>
</div>
