<ol class="breadcrumb">
    <li><a ng-href="#/">Termieditori</a></li>
    <li><a ng-href="#/schemes/{{scheme.id}}/concepts">
        <thl-property-values values="scheme.properties.prefLabel"
                             lang="fi"></thl-property-values>
    </a></li>
    <li class="active">
        Kaikki käsitteet
    </li>
</ol>

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">
            <thl-property-values values="scheme.properties.prefLabel"
                                 lang="fi"></thl-property-values>
            <small>- Kaikki käsitteet</small>
        </h1>

        <div class="pull-right">
            <label class="radio-inline text-muted">
                <input type="radio" ng-model="display.type" value="tree"
                       ng-change="loadResults()">
                Esitä yläkäsitepuuna
            </label>
            <label class="radio-inline text-muted">
                <input type="radio" ng-model="display.type" value="list"
                       ng-change="loadResults()">
                Esitä listana
            </label>
        </div>

        <div ng-repeat="concept in rootConcepts" ng-include="'concept-tree-node.html'"
             ng-init="depth=0"></div>
    </div>
</div>

<script type="text/ng-template" id="concept-tree-node.html">
    <div style="padding-left: {{::depth*3}}em;">
        <h3>
            <a ng-href="#/schemes/{{::scheme.id}}/concepts/{{::concept.id}}">
                <span ng-repeat="value in values = (concept.properties.prefLabel | filter:{lang:'fi'})">
                    {{::value.value}}<span ng-if="!$last">, </span></span>
            </a>
        </h3>

        <div ng-repeat="(propertyKey, labels) in properties">
            <dl ng-if="concept.properties[propertyKey].length > 0">
                <dt>{{::labels['fi'] | capitalize}}</dt>
                <dd>
                    <div ng-repeat="value in concept.properties[propertyKey] | orderBy:langPriority">
                        <code class="text-muted">{{::value.lang}}</code> {{::value.value}}
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <hr>
    <div ng-if="concept.children">
        <div ng-repeat="concept in concept.children" ng-include="'concept-tree-node.html'"
             ng-init="depth=depth+1"></div>
    </div>
</script>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{::rootConcepts | json}}</pre>
</div>

