<ol class="breadcrumb">
    <li><a ng-href="#/">Termieditori</a></li>
    <li><a ng-href="#/schemes/{{concept.scheme.id}}/concepts">
        {{concept.scheme.properties.prefLabel[lang][0]}}
    </a></li>
    <li class="active">
        {{concept.properties.prefLabel[lang][0]}}
    </li>
</ol>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-top: 5px; padding-bottom: 5px">
                Hierarkia
            </div>
            <div style="overflow:hidden" class="panel-body">
                <thl-concept-tree concept="concept"></thl-concept-tree>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div>
            <a class="btn btn-sm btn-default"
               ng-href="#/schemes/{{concept.scheme.id}}/concepts/{{concept.id}}/edit">
                <span class="glyphicon glyphicon-edit"></span>
                Muokkaa
            </a>
            <button class="btn btn-sm btn-default" ng-click="newConcept()">
                <span class="glyphicon glyphicon-plus"></span>
                Lisää alakäsite
            </button>
        </div>

        <h1 class="page-header">
            {{concept.properties.prefLabel[lang][0] || '-'}}
        </h1>

        <div class="text-muted page-header-info">
            <small>{{concept.uri || '-'}}</small>
        </div>

        <dl ng-show="concept.references.broader && concept.references.broader.length > 0">
            <dt>Yläkäsitehierarkiat</dt>
            <dd>
                <span ng-show="concept.references.broader">
                    <span ng-repeat="path in broaderPaths">
                        <span ng-repeat="b in path">
                            <span ng-if="!$last">
                                <a ng-href="#/schemes/{{b.scheme.id}}/concepts/{{b.id}}"
                                   ng-if="!$last">
                                    {{b.properties.prefLabel[lang][0]}}
                                </a>
                                <span class="text-muted">&gt;</span>
                            </span>
                            <span ng-if="$last">
                                {{b.properties.prefLabel[lang][0]}}
                            </span>
                        </span><br>
                    </span>
                </span>
            </dd>
        </dl>

        <thl-resource-properties resource-properties="concept.properties"></thl-resource-properties>

        <thl-concept-references concept="concept"></thl-concept-references>

        <dl ng-show="concept.collections && concept.collections.length > 0">
            <dt>Kuuluu kokoelmiin</dt>
            <dd ng-show="concept.collections && concept.collections.length > 0">
                <span ng-repeat="c in concept.collections">
                    <a ng-href="#/schemes/{{c.scheme.id}}/collections/{{c.id}}">
                        {{c.properties.prefLabel[lang][0]}}
                    </a><br>
                </span>
            </dd>
        </dl>
    </div>
</div>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{concept | json}}</pre>
</div>

