<ol class="breadcrumb">
    <li><a ng-href="#/">Termieditori</a></li>
    <li><a ng-href="#/schemes/{{scheme.id}}/concepts">
        {{scheme.properties.prefLabel[lang][0]}}
    </a></li>
    <li class="active">muokkaus</li>
</ol>

<div class="row">
    <div class="col-xs-8">
        <button class="btn btn-sm btn-success" ng-click="save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Tallenna
        </button>
    </div>

    <div class="col-xs-4 text-right">
        <button class="btn btn-sm btn-danger" ng-click="remove()">
            <span class="glyphicon glyphicon-trash"></span>
            Poista
        </button>
    </div>
</div>

<div class="alert alert-danger" role="alert" ng-show="error">
    <span class="glyphicon glyphicon-alert"></span> {{error}}
</div>

<h1 class="page-header">
    {{scheme.properties.prefLabel[lang][0]}}
</h1>

<div class="row text-muted page-header-info">
    <div class="col-sm-6">
        <small>
            Päivitetty {{scheme.lastModifiedDate | date:'d.M.yyyy HH:mm:ss'}} /
            {{scheme.lastModifiedBy}}
        </small>
    </div>
    <div class="col-sm-6 text-right">
        <small>
            Lisätty {{scheme.createdDate | date:'d.M.yyyy HH:mm:ss'}} /
            {{scheme.createdBy}}
        </small>
    </div>
</div>

<form role="form">
    <div class="form-group">
        <label>URI</label>

        <input type="text" class="form-control" ng-model="scheme.uri">
    </div>

    <thl-resource-properties-edit resource-properties="scheme.properties"></thl-resource-properties-edit>
</form>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{scheme | json}}</pre>
</div>
