<ol class="breadcrumb">
    <li class="active">Termipankki</li>
</ol>

<h1 class="page-header">
    Termipankki
</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Käsitteet</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-5">
                <button class="btn btn-default btn-sm" ng-click="newConcept()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Uusi
                </button>
            </div>
            <div class="col-xs-7">
                <div class="input-group input-group-sm">
                    <input class="form-control" ng-model="query"
                           ng-change="searchConcepts(query)" type="text">

                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Käsite</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="concept in concepts">
                <td>
                    <a ng-href="#/concepts/{{concept.id}}">
                        <thl-concept-values values="concept.properties.prefLabel"
                                            lang="fi"></thl-concept-values>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{concepts | json}}</pre>
</div>
