<ol class="breadcrumb">
    <li><a ng-href="#">Termipankki</a></li>
    <li>
        <a ng-href="#/concepts/{{concept.id}}">
            <span ng-repeat="prefLabel in concept.properties.prefLabel | filter:lang='fi'">
                {{prefLabel.value}}<span ng-show="!$last">, </span>
            </span>
        </a>
    </li>
    <li class="active">muokkaus</li>
</ol>

<div class="row">
    <div class="col-xs-8">
        <button class="btn btn-sm btn-success" ng-click="save()">
            Tallenna
        </button>
    </div>

    <div class="col-xs-4 text-right">
        <button class="btn btn-sm btn-danger" ng-click="remove()">
            Poista
        </button>
    </div>
</div>

<div class="alert alert-danger" role="alert" ng-show="error">
    <span class="glyphicon glyphicon-alert"></span> {{error}}
</div>

<h1 class="page-header">
    <span ng-repeat="prefLabel in concept.properties.prefLabel | filter:lang='fi'">
        {{prefLabel.value}}<span ng-show="!$last">, </span>
    </span>
    <small>
        <span ng-repeat="altLabel in concept.properties.altLabel | filter:lang='fi'">
            {{altLabel.value}}<span ng-show="!$last">, </span>
        </span>
    </small>
</h1>

<form role="form">
    <div class="form-group">
        <label>Ensisijainen termi</label>

        <div class="input-group"
             ng-repeat="prefLabel in concept.properties.prefLabel | orderBy:langPriority">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <code class="text-muted">{{prefLabel.lang}}</code>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ng-click="prefLabel.lang = 'fi'">fi</a></li>
                    <li><a ng-click="prefLabel.lang = 'sv'">sv</a></li>
                    <li><a ng-click="prefLabel.lang = 'en'">en</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" ng-model="prefLabel.value">
        </div>
    </div>
    <div class="form-group">
        <label>Vaihtoehtoiset termit</label>

        <div class="input-group"
             ng-repeat="altLabel in concept.properties.altLabel | orderBy:langPriority">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <code class="text-muted">{{altLabel.lang}}</code>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ng-click="altLabel.lang = 'fi'">fi</a></li>
                    <li><a ng-click="altLabel.lang = 'sv'">sv</a></li>
                    <li><a ng-click="altLabel.lang = 'en'">en</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" ng-model="altLabel.value">
        </div>
    </div>

    <br>

    <div class="form-group">
        <label>Yläkäsite</label>

        <div thl-select-concept class="form-control" ng-model="concept.parent"></div>
    </div>
    <div class="form-group">
        <label>Assosiatiiviset käsitteet</label>

        <div thl-select-concept class="form-control" ng-model="concept.related"
             multiple="true"></div>
    </div>

    <br>

    <div class="form-group">
        <label for="definition">Määritelmä</label>
        <textarea rows="2" class="form-control" id="definition"
                  ng-model="concept.properties.definition.fi">
        </textarea>
    </div>
    <div class="form-group">
        <label for="note">Huomautus</label>
        <textarea rows="2" class="form-control" id="note"
                  ng-model="concept.properties.note.fi">
        </textarea>
    </div>
    <div class="form-group">
        <label for="example">Esimerkki</label>
        <textarea rows="2" class="form-control" id="example"
                  ng-model="concept.properties.example.fi">
        </textarea>
    </div>

    <br>

    <div class="form-group">
        <label for="hiddenLabel">Piilotetut termit</label>
        <input type="text" class="form-control" id="hiddenLabel"
               ng-model="concept.properties.hiddenLabel.fi">
    </div>
    <div class="form-group">
        <label for="deprecatedLabel">Korvatut termit</label>
        <input type="text" class="form-control" id="deprecatedLabel"
               ng-model="concept.properties.deprecatedLabel.fi">
    </div>
</form>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{concept | json}}</pre>
</div>
