<ol class="breadcrumb">
    <li><a ng-href="#">Termieditori</a></li>
    <li class="active">
        <thl-property-values values="scheme.properties.prefLabel"
                             lang="fi"></thl-property-values>
    </li>
</ol>

<div class="row" ng-show="user.role == 'admin'">
    <div class="col-sm-6">
        <a class="btn btn-sm btn-default" ng-href="#/schemes/{{scheme.id}}/edit">
            <span class="glyphicon glyphicon-edit"></span>
            Muokkaa
        </a>

        <div class="btn-group" role="group">
            <button class="btn btn-sm btn-default" ng-click="newConcept()">
                <span class="glyphicon glyphicon-plus"></span>
                Lisää käsite
            </button>
            <button class="btn btn-sm btn-default" ng-click="newCollection()">
                <span class="glyphicon glyphicon-plus"></span>
                Lisää kokoelma
            </button>
        </div>
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn btn-sm btn-default {{!tree || 'active'}}" ng-click="toggleTree()">
            <span class="glyphicon glyphicon-expand"></span> Näytä hierarkia
        </button>
        <a class="btn btn-default btn-sm" ng-href="api/export/{{scheme.id}}">
            <span class="glyphicon glyphicon-download-alt"></span>
            Lataa RDF-muodossa
        </a>
    </div>
</div>

<!-- use floating element for buttons when not logged in -->
<div class="pull-right" ng-show="user.role != 'admin'">
    <button class="btn btn-xs btn-link {{!tree || 'active'}}" ng-click="toggleTree()">
        <span class="glyphicon glyphicon-expand"></span> Näytä hierarkia
    </button>
    <a class="btn btn-link btn-xs" ng-href="api/export/{{scheme.id}}">
        <span class="glyphicon glyphicon-download-alt"></span>
        Lataa RDF-muodossa
    </a>
</div>

<h1 class="page-header">
    <thl-property-values values="scheme.properties.prefLabel"
                         lang="fi"></thl-property-values>
</h1>

<div ng-if="!tree">
    <div class="input-group input-group-sm">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </div>
        <input class="form-control" ng-model="query"
               ng-change="searchConcepts(query)" ng-model-options="{debounce: 250}"
               placeholder="Etsi käsitettä"
               type="text">
    </div>

    <br>

    <table class="table">
        <thead>
        <tr>
            <th>Käsite</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="concept in concepts">
            <td>
                <a ng-href="#/schemes/{{scheme.id}}/concepts/{{concept.id}}">
                    <thl-property-values values="concept.properties.prefLabel"
                                         lang="fi"></thl-property-values>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-if="tree">
    <ul class="list-unstyled">
        <li ng-repeat="concept in concepts">
            <div ng-include="'partials/concept-tree-node.html'"></div>
        </li>
    </ul>
    <br>
</div>

<button class="btn btn-default btn-sm {{concepts.length == max || 'disabled'}}"
        ng-click="loadMoreResults()">
    Näytä lisää hakutuloksia
</button>

<hr>

<div class="text-muted" style="margin:-18px 0 18px">
    <small>{{scheme.uri}}</small>
</div>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{concepts | json}}</pre>
</div>
