<ol class="breadcrumb">
    <li><a ng-href="#">Termipankki</a></li>
    <li class="active">
        <span ng-repeat="prefLabel in concept.properties.prefLabel | filter:lang='fi'">
            {{prefLabel.value}}<span ng-show="!$last">, </span>
        </span>
    </li>
</ol>

<div class="row">
    <div class="col-xs-8">
        <a class="btn btn-sm btn-default" ng-href="#/concepts/{{concept.id}}/edit">
            Muokkaa
        </a>
    </div>
</div>

<h1 class="page-header">
    <span ng-repeat="prefLabel in concept.properties.prefLabel | filter:lang='fi'">
        {{prefLabel.value}}<span ng-show="!$last">, </span>
    </span>
    <small>
        <span ng-repeat="altLabel in concept.properties.altLabel | filter:lang='fi'">
            {{altLabel.value}}<span ng-show="!$last">, </span>
        </span>
    </small>
</h1>

<dl>
    <dt>Käytettävä termi</dt>
    <dd>
        <div ng-repeat="prefLabel in concept.properties.prefLabel | orderBy:langPriority">
            <code class="text-muted">{{prefLabel.lang}}</code> {{prefLabel.value}}
        </div>
    </dd>
    <dt>Vaihtoehtoiset termit</dt>
    <dd>
        <div ng-repeat="altLabel in concept.properties.altLabel | orderBy:orderBy:langPriority">
            <code class="text-muted">{{altLabel.lang}}</code> {{altLabel.value}}
        </div>
    </dd>
</dl>

<dl>
    <dt>Yläkäsitteet</dt>
    <dd>
        <span ng-show="concept.parent">
            <span ng-repeat="parent in parents">
                <span ng-if="!$last">
                    <a ng-href="#/concepts/{{parent.id}}"
                       ng-if="!$last">{{parent.properties.label.fi}}</a>
                    <span class="text-muted">&gt;</span>
                </span>
                <span ng-if="$last">
                    {{parent.properties.label.fi}}
                </span>
            </span>
        </span>
        <span ng-show="!concept.parent">
            -
        </span>
    </dd>
    <dt>Alakäsitteet</dt>
    <dd>
        <span ng-repeat="child in concept.children | orderBy:'properties.label.fi'">
            <a ng-href="#/concepts/{{child.id}}">{{child.properties.label.fi}}</a><span
                ng-show="!$last" class="text-muted">,</span>
        </span>
        <span ng-show="!concept.children || concept.children.length == 0">
            -
        </span>
    </dd>
    <dt>Assosiatiiviset käsitteet</dt>
    <dd>
        <span ng-repeat="r in concept.related | orderBy:'properties.label.fi'">
            <a ng-href="#/concepts/{{r.id}}">{{r.properties.label.fi}}</a><span
                ng-show="!$last" class="text-muted">,</span>
        </span>
        <span ng-show="!concept.related || concept.related.length == 0">
            -
        </span>
    </dd>
</dl>

<br>

<dl>
    <dt>Määritelmä</dt>
    <dd>{{concept.properties.definition.fi || '-'}}</dd>
    <dt>Huomautus</dt>
    <dd>{{concept.properties.note.fi || '-'}}</dd>
    <dt>Esimerkki</dt>
    <dd>{{concept.properties.example.fi || '-'}}</dd>
</dl>

<br>

<dl>
    <dt>Piilotetut termit</dt>
    <dd>{{concept.properties.hiddenLabel.fi || '-'}}</dd>
    <dt>Korvatut termit</dt>
    <dd>{{concept.properties.deprecatedLabel.fi || '-'}}</dd>
</dl>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{concept | json}}</pre>
</div>

