<ol class="breadcrumb">
    <li><a ng-href="#">Termieditori</a></li>
    <li class="active">
        <thl-property-values values="scheme.properties.prefLabel"
                             lang="fi"></thl-property-values>
    </li>
</ol>

<h1 class="page-header">
    <thl-property-values values="scheme.properties.prefLabel"
                         lang="fi"></thl-property-values>
</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8">
                <h3 class="panel-title">Käsitteet</h3>
            </div>
            <div class="col-xs-4 text-right text-muted">
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-7">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <input class="form-control" ng-model="query"
                           ng-change="searchConcepts(query)" ng-model-options="{debounce: 250}"
                           type="text">
                </div>
            </div>
            <div class="col-xs-5 text-right">
                <button class="btn btn-default btn-sm" ng-click="newConcept()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Lisää uusi käsite
                </button>
            </div>
        </div>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Käsite</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="concept in concepts">
                <td>
                    <a ng-href="#/schemes/{{scheme.id}}/concepts/{{concept.id}}">
                        <thl-property-values values="concept.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <button class="btn btn-default btn-xs" ng-click="loadMoreResults()">
            Lataa lisää hakutuloksia
        </button>
    </div>
</div>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{concepts | json}}</pre>
</div>
