<ol class="breadcrumb">
    <li><a ng-href="#">Termieditori</a></li>
    <li><a ng-href="#/schemes/{{concept.scheme.id}}/concepts">
        <thl-property-values values="concept.scheme.properties.prefLabel"
                             lang="fi"></thl-property-values>
    </a></li>
    <li class="active">
        <thl-property-values values="concept.properties.prefLabel" lang="fi"></thl-property-values>
    </li>
</ol>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-top: 5px; padding-bottom: 5px">
                Hierarkia
            </div>
            <div style="overflow:hidden" class="panel-body">
                <thl-concept-tree concept="concept"></thl-concept-tree>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div ng-show="user.role == 'admin'">
            <a class="btn btn-sm btn-default"
               ng-href="#/schemes/{{concept.scheme.id}}/concepts/{{concept.id}}/edit">
                <span class="glyphicon glyphicon-edit"></span>
                Muokkaa
            </a>
            <button class="btn btn-sm btn-default" ng-click="newConcept()">
                <span class="glyphicon glyphicon-plus"></span>
                Lisää alakäsite
            </button>
        </div>

        <h1 class="page-header">
            <thl-property-values values="concept.properties.prefLabel"
                                 lang="fi"></thl-property-values>
        </h1>

        <div class="text-muted page-header-info">
            <small>{{concept.uri || '-'}}</small>
        </div>

        <dl>
            <dt>Ensisijainen termi</dt>
            <dd>
                <thl-property-values values="concept.properties.prefLabel"></thl-property-values>
            </dd>
            <dt ng-show="concept.properties.altLabel">Vaihtoehtoiset termit</dt>
            <dd ng-show="concept.properties.altLabel">
                <thl-property-values values="concept.properties.altLabel"></thl-property-values>
            </dd>
            <dt ng-show="concept.properties.hiddenLabel">Piilotetut termit</dt>
            <dd ng-show="concept.properties.hiddenLabel">
                <thl-property-values values="concept.properties.hiddenLabel"></thl-property-values>
            </dd>
            <dt ng-show="concept.properties.deprecatedLabel">Korvatut termit</dt>
            <dd ng-show="concept.properties.deprecatedLabel">
                <thl-property-values
                        values="concept.properties.deprecatedLabel"></thl-property-values>
            </dd>
            <dt ng-show="concept.properties.definition">Määritelmä</dt>
            <dd ng-show="concept.properties.definition">
                <thl-property-values values="concept.properties.definition"></thl-property-values>
            </dd>
            <dt ng-show="concept.properties.note">Huomautus</dt>
            <dd ng-show="concept.properties.note">
                <thl-property-values values="concept.properties.note"></thl-property-values>
            </dd>
            <dt ng-show="concept.properties.example">Esimerkki</dt>
            <dd ng-show="concept.properties.example">
                <thl-property-values values="concept.properties.example"></thl-property-values>
            </dd>
        </dl>

        <dl>
            <dt ng-show="concept.broader && concept.broader.length > 0">Yläkäsitehierarkiat</dt>
            <dd ng-show="concept.broader && concept.broader.length > 0">
                <span ng-show="concept.broader">
                    <span ng-repeat="path in broaderPaths">
                        <span ng-repeat="b in path">
                            <span ng-if="!$last">
                                <a ng-href="#/schemes/{{b.scheme.id}}/concepts/{{b.id}}"
                                   ng-if="!$last">
                                    <thl-property-values values="b.properties.prefLabel"
                                                         lang="fi"></thl-property-values>
                                </a>
                                <span class="text-muted">&gt;</span>
                            </span>
                            <span ng-if="$last">
                                <thl-property-values values="b.properties.prefLabel"
                                                     lang="fi"></thl-property-values>
                            </span>
                        </span><br>
                    </span>
                </span>
            </dd>
            <dt ng-show="concept.broader && concept.broader.length > 0">Yläkäsitteet</dt>
            <dd ng-show="concept.broader && concept.broader.length > 0">
                <span ng-repeat="n in concept.broader | orderBy:prefLabelFi">
                    <a ng-href="#/schemes/{{n.scheme.id}}/concepts/{{n.id}}">
                        <thl-property-values values="n.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a><br>
                </span>
            </dd>
            <dt ng-show="concept.narrower && concept.narrower.length > 0">Alakäsitteet</dt>
            <dd ng-show="concept.narrower && concept.narrower.length > 0">
                <span ng-repeat="n in concept.narrower | orderBy:prefLabelFi">
                    <a ng-href="#/schemes/{{n.scheme.id}}/concepts/{{n.id}}">
                        <thl-property-values values="n.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a><br>
                </span>
            </dd>
            <dt ng-show="concept.related && concept.related.length > 0">Assosiatiiviset käsitteet
            </dt>
            <dd ng-show="concept.related && concept.related.length > 0">
                <span ng-repeat="r in concept.related | orderBy:prefLabelFi">
                    <a ng-href="#/schemes/{{r.scheme.id}}/concepts/{{r.id}}">
                        <thl-property-values values="r.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a><br>
                </span>
            </dd>
            <dt ng-show="concept.collections && concept.collections.length > 0">Kuuluu kokoelmiin
            </dt>
            <dd ng-show="concept.collections && concept.collections.length > 0">
                <span ng-repeat="c in concept.collections | orderBy:prefLabelFi">
                    <a ng-href="#/schemes/{{c.scheme.id}}/collections/{{c.id}}">
                        <thl-property-values values="c.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a><br>
                </span>
            </dd>
            <dt ng-show="concept.types && concept.types.length > 0">Tyypit</dt>
            <dd ng-show="concept.types && concept.types.length > 0">
                <span ng-repeat="n in concept.types | orderBy:prefLabelFi">
                    <a ng-href="#/schemes/{{n.scheme.id}}/concepts/{{n.id}}">
                        <thl-property-values values="n.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a><br>
                </span>
            </dd>
            <dt ng-show="concept.instances && concept.instances.length > 0">Ilmentymät</dt>
            <dd ng-show="concept.instances && concept.instances.length > 0">
                <span ng-repeat="instancePartOfPaths in instancesPartOfPaths">
                    <span ng-repeat="path in instancePartOfPaths">
                        <span ng-repeat="b in path">
                            <a ng-href="#/schemes/{{b.scheme.id}}/concepts/{{b.id}}">
                                <thl-property-values values="b.properties.prefLabel"
                                                     lang="fi"></thl-property-values>
                            </a>
                            <span class="text-muted" ng-if="!$last">&gt;</span>
                        </span><br>
                    </span>
                </span>
            </dd>
            <dt ng-show="concept.partOf && concept.partOf.length > 0">Osa kokonaisuutta</dt>
            <dd ng-show="concept.partOf && concept.partOf.length > 0">
                <span ng-repeat="n in concept.partOf | orderBy:prefLabelFi">
                    <a ng-href="#/schemes/{{n.scheme.id}}/concepts/{{n.id}}">
                        <thl-property-values values="n.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a><br>
                </span>
            </dd>
            <dt ng-show="concept.parts && concept.parts.length > 0">Osat</dt>
            <dd ng-show="concept.parts && concept.parts.length > 0">
                <span ng-repeat="n in concept.parts | orderBy:prefLabelFi">
                    <a ng-href="#/schemes/{{n.scheme.id}}/concepts/{{n.id}}">
                        <thl-property-values values="n.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a><br>
                </span>
            </dd>
        </dl>

        <dl>
            <dt ng-show="concept.properties.source">Lähde</dt>
            <dd ng-show="concept.properties.source">
                <thl-property-values values="concept.properties.source"></thl-property-values>
            </dd>
        </dl>
    </div>
</div>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{concept | json}}</pre>
</div>

