<div style="width:1.5em;float:left;">
    <span ng-show="concept.narrower.length > 0">
        <span ng-show="!concept.expanded"
              ng-click="loadNarrower(concept)">
            <span class="glyphicon glyphicon-expand"></span>
        </span>
        <span ng-show="concept.expanded"
              ng-click="concept.expanded = false">
            <span class="glyphicon glyphicon-collapse-down"></span>
        </span>
    </span>
    <span ng-show="concept.narrower.length == 0">
        <span class="glyphicon glyphicon-unchecked"></span>
    </span>
</div>
<a ng-href="#/schemes/{{scheme.id}}/concepts/{{concept.id}}">
    <thl-property-values values="concept.properties.prefLabel"
                         lang="fi"></thl-property-values>
</a>
<div style="clear:both"></div>
<ul style="list-style-type: none;" ng-if="concept.expanded">
    <li ng-repeat="concept in concept.narrower">
        <div ng-include="'/partials/concept-tree-node.html'"></div>
    </li>
</ul>