<div ng-controller="LoginCtrl">
    <div class="text-right">
        <div ng-if="user.name == 'anonymousUser'">
            <small>
                <a ng-click="showLogin()">
                    kirjaudu sisään
                </a>
            </small>
        </div>
        <div ng-if="user.name != 'anonymousUser'">
            <small>
                <strong>{{user.name}}</strong> |
                <a ng-click="logout()">
                    kirjaudu ulos
                </a>
            </small>
        </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
         aria-labelledby="loginModalLabel" aria-hidden="true" show-when-login-required>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Sulje</span>
                    </button>
                    <h4 class="modal-title" id="loginModalLabel">Kirjaudu</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="username">Sähköposti</label>
                            <input type="text" class="form-control" id="username"
                                   ng-model="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Salasana</label>
                            <input type="password" class="form-control" id="password"
                                   ng-model="password">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top:10px"
                                ng-click="login()">
                            Kirjaudu
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
