<div class="row" ng-repeat="value in values | orderBy:langPriority">
    <div class="col-sm-11 col-xs-10">
        <div class="input-group">
            <div class="input-group-btn" style="{{!textArea || 'vertical-align: top;'}}">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <code class="text-muted">{{value.lang}}</code>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="value.lang = 'fi'">fi</a></li>
                    <li><a ng-click="value.lang = 'sv'">sv</a></li>
                    <li><a ng-click="value.lang = 'en'">en</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" ng-model="value.value" ng-if="!textArea">
            <textarea class="form-control" rows="1" ng-model="value.value"
                      style="border-bottom-right-radius:5px" ng-if="textArea">
            </textarea>
        </div>
    </div>
    <div class="col-sm-1 col-xs-2 text-right">
        <button class="btn btn-default"
                ng-click="removePropertyValue(values, value)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>
<button class="btn btn-success btn-xs" style="margin-top: 8px"
        ng-click="addPropertyValue(values)">
    <span class="glyphicon glyphicon-plus"></span> Lisää
</button>
