<ol class="breadcrumb">
    <li class="active">Termipankki</li>
</ol>

<h1 class="page-header">
    Termipankki
</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sanastot</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-7">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <input class="form-control" ng-model="query" type="text">
                </div>
            </div>
            <div class="col-xs-5 text-right">
                <button class="btn btn-default btn-sm" ng-click="newScheme()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Lisää uusi sanasto
                </button>
            </div>
        </div>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Sanasto</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="scheme in schemes">
                <td>
                    <a ng-href="#/schemes/{{scheme.id}}/concepts">
                        <thl-property-values values="scheme.properties.prefLabel"
                                             lang="fi"></thl-property-values>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{concepts | json}}</pre>
</div>
